<%= paginate @orders %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Email</th>
      <th>Attendee</th>
      <th>Payment</th>
      <th>Fulfillment</th>
      <th>Fulfillable Items</th>
      <th>Total</th>
      <th style="width: 110px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.number %></td>
        <td><%= order.email %></td>
        <td>
          <% if order.attendee.present? %>
            <%= order.attendee.name %><br>
            <%= "Seat #{order.attendee.seat_number}" if order.attendee.seat_number.present? %>
          <% end %>
        </td>
        <td>
          <span class="badge bg-<%= order.payment_state == 'paid' ? 'success' : 'warning' %>">
            <%= order.payment_state.capitalize %>
          </span>
        </td>
        <td> 
          <span class="badge bg-<%= fulfillment_badge_class(order.fulfillment_state) %>">
            <%= order.fulfillment_state.capitalize %>
          </span>
        </td>
        <td>
          <ul>
            <% order.line_items.each do |line_item| %>
            <% next unless line_item.product.requires_fulfillment? %>
              <li>
                <%= line_item.quantity %> x <%= line_item.variant.product.name %>
                  <% line_item.variant.options.each do |option, val| %>
                      <strong><%= option %>:</strong> <%= val %><br>
                  <% end %>
              </li>
            <% end %>
          </ul>
        </td>
        <td><%= number_to_currency order.total, unit: currency_icon(order.currency) %></td>
        <td>
          <div class="btn-group">
            <%= link_to admin_order_path(order), class: "btn btn-sm btn-success" do %>
              <%= icon 'folder-open', class: 'icon-text-white' %>
            <% end %>
            <%= link_to edit_admin_order_path(order), class: "btn btn-sm btn-warning"  do  %>
              <%= icon 'edit', class: 'icon-text-white' %>
            <% end %>
          </div>  
          <% if order.requires_fulfillment? && order.fulfillment_state != 'delivered' %><br>
            <div class="btn-group mt-2">
              
            <% if order.fulfillment_state == 'pending' %>
              <%= link_to admin_order_path(order, order: {fulfillment_state: "packaged"}), method: :patch, 
                      data: { confirm: 'Are you sure you want to mark the order packaged?' }, class: "btn btn-sm btn-info" do %>
                <%= icon 'shopping-bag', class: 'icon-text-white' %>
              <% end %>        
            <% end %>
            <% if order.fulfillment_state == 'pending' || order.fulfillment_state == 'packaged' %>
              <%= link_to admin_order_path(order, order: {fulfillment_state: "delivered"}), method: :patch, 
                      data: { confirm: 'Are you sure you want to mark the order delivered?' }, class: "btn btn-sm btn-success" do %>
                <%= icon 'user-check', class: 'icon-text-white' %>
              <% end %>        
            <% end %>
            </div>

          <% end %>

          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
