
<% shop_url = (order_channel == 'merch_table' ? store_path : shop_path) %>

<% if @cart.blank? || @cart.try(:line_items).blank? %>
  <div class="container mt-5 mb-5">
    <!-- Cart Header -->
    <div class="col-md-6 mx-auto">
      <h2 class="mb-5">Your Cart is Empty</h2>
      <%= link_to "Continue Shopping", shop_url, class: "btn btn-lg btn-outline-warning w-100" %>
    </div>
<% else %>
  <div class="container mt-5 mb-5">
    <!-- Cart Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Your Cart</h2>
      <%= link_to "Continue Shopping", shop_url, class: "btn btn-outline-warning" %>
    </div>

    <!-- Cart Table -->
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th style="width: 100px">Product</th>
            <th></th>
            <th style="width: 200px">Quantity</th>
            <th class="text-end">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.line_items.each do |item| %>
            <tr>
              <!-- Product Image -->
              <td>
                <% if item.product.image.attached? %>
                  <%= image_tag rails_public_blob_url(item.product.image), class: "img-fluid rounded", style: "max-width: 80px; height: auto;" %>
                <% else %>
                  <%= image_tag "placeholder.jpg", class: "img-fluid rounded", style: "max-width: 80px; height: auto;" %>
                <% end %>
              </td>

              <!-- Product Name & Price -->
              <td class="text-start">
                <strong><%= item.product.name %></strong><br>
                <% item.variant.options.each do |option, val| %>
                  <strong><%= option %>:</strong> <%= val %><br>
                <% end %>
                <span class="text-muted">
                  <%= number_to_currency(item.product.price, unit: currency_icon) %><br>
                  <% if item.performer.present? %> 
                    <strong>Commission Earned By:</strong><br><%= item.performer.name %>
                  <% end %>
                </span>
              </td>

              <!-- Quantity Controls -->
              <td>
                <div class="d-flex align-items-center">
                  <%= button_to "-", line_item_path(item.id, order_channel: order_channel, line_item: {quantity: item.quantity - 1}), method: :patch, class: "btn btn-outline-secondary btn-sm me-2" %>
                  <span class="px-3"><%= item.quantity %></span>
                  <%= button_to "+", line_item_path(item.id, order_channel: order_channel, line_item: {quantity: item.quantity + 1}), method: :patch, class: "btn btn-outline-secondary btn-sm ms-2" %>
                  <%= button_to line_item_path(item.id, order_channel: order_channel), method: :delete, class: "btn btn-danger btn-sm ms-3" do  %>
                    <%= icon 'trash', class: 'icon-text-white' %>
                  <% end %>
                </div>
              </td>

              <!-- Item Subtotal -->
              <td class="text-end">
                <%= number_to_currency(item.total_price, unit: currency_icon) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Cart Footer -->
    <div class="d-flex justify-content-end mt-4">
      <div class="text-end">
        <% if @cart.tax_rate > 0.0 %>
          <h5 class="mb-3 text-muted">Subotal: <%= number_to_currency(@cart.subtotal, unit: currency_icon) %></h5>
          <h5 class="mb-3 text-muted">Tax: <%= number_to_currency(@cart.tax_total, unit: currency_icon) %></h5>
        <% end %>
        <h4 class="mb-3">Total: <%= number_to_currency(@cart.total, unit: currency_icon) %></h4>
        <% if order_channel == 'merch_table' %>

          <%= button_to "Checkout", store_checkout_path(order_id: @cart.id), method: :post, remote: true, 
                  data: { action: "click->checkout#redirect" }, class: "btn btn-warning btn-lg"  %>
          <div class="mt-5">
          <%= link_to "Empty", store_empty_path(order_id: @cart.id), method: :post %>
          </div>
        <% else %>
          <%= button_to "Checkout", checkout_path(order_id: @cart.id), method: :post, remote: true, 
                  data: { action: "click->checkout#redirect" }, class: "btn btn-warning btn-lg"  %>
        <% end %>

        <%= javascript_tag do %>
          document.addEventListener("turbo:load", function() {
            document.addEventListener("ajax:success", function(event) {
              const [data, status, xhr] = event.detail;
              if (data.url) {
                window.location = data.url;
              }
            });
          });
        <% end %>

      </div>
    </div>

<% end %>
