<!-- filepath: /Users/ricky/RailsApp/tcb-gross-prophets/app/views/admin/orders/show.html.erb -->
<div class="container mt-4">
  <!-- Order Header -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>
      <% if order.canceled? %>
        <span class="badge bg-<%= payment_badge_class order.payment_state %>">
          <%= order.payment_state.capitalize %>
        </span>
      <% end %>
      Order <span class="text-muted"><%= order.number %></span>
    </h2>
    <% if admin? %>
      <div>
        <%= link_to admin_order_path(order, order: { broadcast: true }), method: :patch, class: "btn btn-sm btn-success btn-primary" do %>
          <%= icon "send", class: "icon-text-white" %> Broadcast
        <% end %>
        <%= link_to edit_admin_order_path(order), class: "btn btn-sm btn-primary" do  %>
          <%= icon "edit", class: "icon-text-white" %> Edit
        <% end %>
        <%= link_to admin_order_path(order), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" do  %>
          <%= icon "x-circle", class: "icon-text-white" %> Cancel
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <!-- Left Column (80%) -->
    <div class="col-lg-8">

      <!-- Line Items -->
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Line Items</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th></th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <% if admin? %>
                  <th style="width: 110px" class="text-center">
                    Actions
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% order.line_items.each do |item| %>
                <tr>
                  <td>
                    <% if item.product.image.attached? %>
                      <%= image_tag item.product.image, class: "img-fluid
                      rounded", style: "max-width: 80px; height: auto;" %>
                    <% else %>
                      <%= image_tag "placeholder.jpg", class: "img-fluid
                      rounded", style: "max-width: 80px; height: auto;" %>
                    <% end %>
                  </td>
                  <td>
                    <i><%= item.product.name %></i><br>
                    <% item.variant.options.each do |option, val| %>
                      <strong><%= option %>:</strong> <%= val %><br>
                    <% end %>
                  </td>
                  <td>
                    <%= number_to_currency item.unit_price, unit: currency_icon(order.currency) %>
                  </td>
                  <td>
                    <%= item.quantity %>
                  </td>
                  <td>
                    <%= number_to_currency item.total_price, unit: currency_icon(order.currency) %>
                  </td>
                  <% if admin? %>
                    <td class="text-end">
                      <%= link_to edit_admin_line_item_path(item), class: 'btn btn-warning btn-sm' do %>
                        <%= icon "edit", class: "icon-text-white" %>
                      <% end %>
                      <%= link_to edit_admin_line_item_path(item), class: 'btn btn-danger btn-sm' do %>
                        <%= icon "x-circle", class: "icon-text-white" %>
                      <% end %>
                    </td>
                  <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Payment Details -->
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Payment Details</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
              <span>Payment Status:</span>
              <span class="badge bg-<%= payment_badge_class order.payment_state %>">
                <%= order.payment_state.capitalize %>
              </span>
            </li>
            <% if admin? %>
              <li class="list-group-item d-flex justify-content-between">
                <span>Stripe Payment:</span>
                <%= link_to order.stripe_payment_id, "https://dashboard.stripe.com/payments/#{order.stripe_payment_id}", target: :_blank %>
              </li>
            <% end %>
            <li class="list-group-item d-flex justify-content-between">
              <span>Subtotal:</span>
              <strong><%= number_to_currency(order.subtotal, unit: currency_icon(order.currency)) %></strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Tax (<%= order.tax_rate %>%) :</span>
              <strong><%= number_to_currency(order.tax_total, unit: currency_icon(order.currency)) %></strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total:</span>
              <strong><%= number_to_currency(order.total, unit: currency_icon(order.currency)) %></strong>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Right Column (20%) -->
    <div class="col-lg-4">
      <!-- CHUDS Details -->
      <% if order.chuds.to_i > 0 %>
        <div class="card mb-3 border-success">
          <div class="card-header bg-success text-white">
            <h5 class="mb-0">CHUDs Bonus!</h5>
          </div>
          <div class="card-body text-success">
            This order earned you <strong><%= order.chuds %> CHUDs!</strong>
          </div>
        </div>
      <% end %>

      <!-- Customer Details -->
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Customer Details</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between">
              <span>Fulfillment:</span>
              <span class="badge bg-<%= fulfillment_badge_class(order.fulfillment_state) %>">
                <%= order.fulfillment_state.capitalize %>
              </span>
            </li>
            <li class="list-group-item"><strong>Email:</strong> <%= order.email %></li>
            <% if order.attendee.present? %>
              <li class="list-group-item"><strong>Attendee:</strong> <%= order.attendee.name %></li>
              <% if order.attendee.seat_number.present? %>
                <li class="list-group-item"><strong>Seat:</strong> <%= order.attendee.seat_number %></li>
              <% end %>
            <% end %>
            <li class="list-group-item"><strong>Channel:</strong> <%= order.channel.try(:humanize) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
