<li id="activity_<%= activity.id %>" 
    data-controller="highlight" 
    data-highlight-duration-value="2000">
  <span><%= activity.created_at.strftime("%Y-%m-%d %I:%m:%S %P") %></span><br>
  <%= activity.trackable_type %>  <%= link_to admin_performer_path(activity.trackable) do  %>
    <strong><i><%= activity.trackable.name %></i></strong>
  <% end %>  
  <% activity.parameters.each do |p, val| %>
    <% next if val.blank? %>
    <% if activity.trackable.value_type == 'text' %>
       was updated
    <% else %>
       was set to <strong><%=  present_activity_values(activity.trackable, val[1])%></strong>
    <% end %>
  <% end unless activity.parameters.blank? %>
</li>