<%= bootstrap_form_with model: Attendee.new, data: { turbo: "true" } do |f| %>
    <%= f.text_field :name, required: true, 
      help: 'What would you like to be referred to as.' %>
    <%= f.email_field :email, required: true, 
      help: 'This should match the email you intend to use to checkout' %>

    <div class="mb-3">
      <%= label_tag :show_code, "Show Code", class: 'form-label' %>
      <%= text_field_tag :show_code, params[:code], class: 'form-control', required: true %>
      <small class="form-text text-muted">A unique code provided for your performance</small>
    </div>

    <%= f.text_field :seat_number, help: "If you have assigned seating. This is optional." %>
    
    <div class="mb-3">
      <%= f.checkbox :agree_to_terms_of_service, required: true, style: "transform: scale(2.0); margin: 10px" %>

      <%= f.label :agree_to_terms_of_service do %>
        I agree to the <%= link_to "terms of service", terms_path, target: :_blank %> 
      <% end %>
    </div>

    <%= f.submit "Sign In or Sign Up", class: "btn btn-success btn-lg w-100" %>
<% end %>