

<%= render "shared/chuds_status" %>
<div class="col-xs-12 col-md-6 offset-md-3">
      <h1 class="text-capitalize">
        Time to spend your chuds
      </h1>
  <%= bootstrap_form_with url: pay_performers_path, local: true, class: 'row g-3', 
        data: { controller: 'chuds', "chuds-balance-value": @attendee.chuds_balance  } do |f|  %>

      <table class="table">
        <% @performers.each do |performer| %>
          <tr>
            <td >
              <% if performer.photo.attached? %>
                <%= image_tag performer.photo, class: "rounded-circle", style: "max-height: 250px;" %>
              <% else %>
                <%= image_tag "landscape-placeholder.svg", class: "rounded-circle", style: "width: 200px; height: 200px;" %>
              <% end %><br>
              <%= performer.name %>
            </td>
            <td valign="middle" style="min-width: 250px;">
              <%= number_field_tag "performer[#{performer.id}]", "0", min: 0, class: 'chuds-amount',
                data: { chuds_target: "input", action: "input->chuds#updateTotal" } %>

              <%= link_to "#", class: 'btn btn-secondary btn-lg rounded-circle', 
                    data: { action: "click->chuds#decrement" } do %>
                <%= icon 'minus' %>
              <% end %>

              <%= link_to "#", class: 'btn btn-warning btn-lg rounded-circle', 
                    data: { action: "click->chuds#increment" } do %>
                <%= icon 'plus' %>
              <% end %>

            </td>
          </tr>
        <% end %>
      </table>

      <div class="alert alert-secondary">
        <h3>New Chuds Balance</h3>
        <p><span id="new-chuds-amount" data-chuds-target="amount"><%= @attendee.chuds_balance %></span> CHUDS</p>

      </div>
      <p class="alert alert-danger text-danger d-none" data-chuds-target="warning">
          You don't have enough Chuds to spend this much!
      </p>

      <%= f.submit "Send Chuds", class: 'btn btn-success', data: { chuds_target: "submit" } %>

    <% end %>
</div>
