<% content_for :title, "The Company™ Guru Status" %>

<%= turbo_stream_from 'performer_page_reload' %>
<div id="performer_page_reload"></div>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center container">
    <table class="table">
      <% @performers.each do |performer| %>
        <tr>
          <td class="align-middle" style="width: 200px;">
            <strong><%= performer.name %></strong><br>
            Level 10<br>
            <strong>Model Executive Specialist</strong><br>
            <i><%= performer.performance_points %> PP</i>
          </td>
          <td class="align-middle" style="width: 250px;">
            <% if performer.photo.attached? %>
              <%= image_tag performer.photo_medium, class: "rounded-circle img-fluid", style: "max-height: 250px;" %>
            <% else %>
              <%= image_tag "landscape-placeholder.svg", class: "rounded-circle img-fluid", style: "width: 200px; height: 200px;" %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= turbo_stream_from "performer_#{performer.id}_status_bar" %>
            <%= render 'performers/status_bar', performer: performer, max_chuds_balance: @max_chuds_balance %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
