<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center container">
    <table class="table">
      <% @performers.each do |performer| %>
        <tr>
          <td class="align-middle" style="width: 200px;">
            <strong><%= performer.name %></strong><br>
            Level 12<br>
            <%= performer.performance_points %>
          </td>
          <td class="align-middle" style="width: 250px;">
            <% if performer.photo.attached? %>
              <%= image_tag performer.photo, class: "rounded-circle img-fluid", style: "max-height: 250px;" %>
            <% else %>
              <%= image_tag "landscape-placeholder.svg", class: "rounded-circle img-fluid", style: "width: 200px; height: 200px;" %>
            <% end %>
          </td>
          <td class="align-middle">
            <div class="progress" style="height: 40px; font-size: 30px">
              <div class="progress-bar bg-success" 
                    role="progressbar" 
                      style="width: <%= (performer.chuds_balance * 1.0) / ( @max_chuds_balance * 1.0) * 100.0 %>%;" 
                      aria-valuenow="<%= performer.chuds_balance %>" aria-valuemin="0" aria-valuemax="<%= @max_chuds_balance %>">
                $<%= performer.chuds_balance %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
