<div class="">
  <%= bootstrap_form_with(model: [:admin, @product], local: true) do |f| %>
    <% if @product.image.attached? %>
      <%= image_tag @product.image, class: "img-fluid", style: "max-height: 250px;" %>
    <% end %>
    <%= f.file_field :image %>
    <div class="row">
      <div class="col-sm-8">
        <%= f.text_field :name %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :sku %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.number_field :price, step: 0.01, prepend: currency_icon %>
      </div>
      <div class="col-sm-6">
        <%= f.number_field :chuds, label: "How many chuds for purchasing?" %>
      </div>
    </div>
    <%= f.select :availability, Product::AVAILABILITY_OPTIONS.map{|x| [x.humanize, x] } %>
    <%= f.select :track_inventory, [["No", false], ["Yes", true]] %>
    
    
    <%= f.rich_text_area :description %>
    
    

    <div class="actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>