<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>CHUDs</th>
      <th>Availability</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.image.attached? %>
            <%= image_tag product.image, class: "img-fluid", style: "max-height: 150px;" %>
          <% else %>
            <%= image_tag 'placeholder.jpg', class: "img-fluid", style: "max-height: 150px;" %>
          <% end %>
        </td>
        <td><%= product.name %><br>
            <i><%= product.sku %></i><br>
            <%= number_to_currency product.price, units: currency_icon %><br>
        </td>
        <td><%= product.chuds %></td>
        <td><%= product.availability %></td>
        <td>
          <%= link_to 'Show', admin_product_path(product) %>
          <%= link_to 'Edit', edit_admin_product_path(product) %>
          <%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>