<h1>Product Details
</h1>

<div class="alert alert-secondary">
  <%= render 'shared/product', product: @product %>
</div>

<h3>Additional Product Details</h3>
<dl>
  <dt>How many chuds does the purchaser receive:</dt>
  <dd><%= @product.chuds %></dd>
  <dt>Where is this product available?</dt>
  <dd><%= @product.availability.humanize %></dd>
  <dt>Do we track inventory?</dt>
  <dd><%= @product.track_inventory? ? "Yes" : "No" %></dd>
</dl>


<%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-primary' %>
<%= link_to 'Back', admin_products_path, class: 'btn btn-secondary' %>

<div>
TODO: Add a Table of Sales
</div>