<div class="col-12 col-md-6">
  <%= bootstrap_form_with(model: [:admin, @performer], local: true) do |form| %>
    <%= form.text_field :name %>
    <%= form.file_field :photo %>
    <%= form.number_field :performance_points %>
    <%= form.number_field :chuds_balance %>
    <%= form.number_field :commission_balance, prepend: "€", step: 0.01 %>
    <%= form.select :active, [["Yes", true], ["No", false]] %>
    
    <div class="actions">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>