<div class="col-12 col-md-6">
  <%= bootstrap_form_with(model: [:admin, @performer], local: true) do |f| %>
    <%= f.text_field :name %>
    <% if @performer.photo.attached? %>
      <%= image_tag rails_public_blob_url(@performer.photo), class: "img-fluid", style: "max-height: 250px;" %>
    <% end %>
    <%= f.file_field :photo %>
    <%= f.number_field :performance_points %>
    <%= f.number_field :chuds_balance %>
    <%= f.number_field :commission_balance, prepend: "¢", step: 0.01 %>
    <%= f.select :active, [["Yes", true], ["No", false]] %>
    
    <div class="actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>