<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Name</th>
        <th>Chuds</th>
        <th>Commissions</th>
        <th>Performance Points</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @performers.each do |performer| %>
        <tr>
          <td><%= performer.id %></td>
          <td><%= performer.active? ? "Active" : "Inactive" %></td>
          <td><%= performer.name %><br>
            <% if performer.photo.present? %>
              <%= image_tag performer.photo_thumbnail, class: "rounded img-fluid", style: "height: 150px;" %>
            <% end %>
          </td>
          <td><%= performer.chuds_balance %></td>
          <td><%= number_to_currency performer.commission_balance, unit: "¢" %></td>
          <td><%= performer.performance_points %></td>
          <td>
            <%= link_to admin_performer_path(performer), class: "btn btn-sm btn-success" do %>
              <%= icon 'folder-open', class: 'icon-text-white' %>
            <% end %>
            <%= link_to edit_admin_performer_path(performer), class: "btn btn-sm btn-warning"  do  %>
              <%= icon 'edit', class: 'icon-text-white' %>
            <% end %>
            <%= link_to admin_performer_path(performer), method: :delete, 
                      data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" do %>
              <%= icon 'trash', class: 'icon-text-white' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>