<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Name</th>
      <th>Chuds</th>
      <th>Performance Points</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @performers.each do |performer| %>
      <tr>
        <td><%= performer.id %></td>
        <td><%= performer.active? ? "Active" : "Inactive" %></td>
        <td><%= performer.name %></td>
        <td><%= performer.chuds_balance %></td>
        <td><%= performer.performance_points %></td>
        <td>
          <%= link_to 'Show', admin_performer_path(performer) %>
          <%= link_to 'Edit', edit_admin_performer_path(performer) %>
          <%= link_to 'Destroy', admin_performer_path(performer), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>