<div class="col-12 col-md-6">
  <%= bootstrap_form_with(model: [:admin, @attendee], local: true) do |form| %>

    <%= form.text_field :name %>
    <%= form.email_field :email %>
    <%= form.number_field :chuds_balance %>
    <%= form.text_field :seat_number %>
    <%= form.number_field :performance_points %>

    <div class="actions">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>