<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CHUDs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.ico" type="image/png">
    <link rel="apple-touch-icon" href="/icon.ico">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'bootstrap', 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">TCB // CHUDs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to "Admin Home", admin_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Attendees", admin_attendees_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Performers", admin_performers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Products", admin_products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Vouchers", admin_vouchers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Users", admin_users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Attendee Site", root_path, class: "nav-link" %>
            </li>
          </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
            </li>
        </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>



  </body>
</html>
