<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Company™ Portal Presented By The Tin Can Brothers" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'bootstrap', 'application',  "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      <%= raw Setting.find_by(code: 'custom_css').try(:value) %>
    </style>
  </head>
  <%= render 'shared/analytics_code' %>

  <body class="d-flex flex-column min-vh-100" id="<%= request.path == "/" ? 'welcome-index' : request.path.delete_prefix("/").gsub("/", "-")%>">

    <%= turbo_stream_from 'page_reload' %>
    <div id="page_reload"></div>

    <%= turbo_stream_from 'global_redirect' %>
    <div id="global_redirect"></div>
    
    <%= turbo_stream_from 'notifications' %>
    <%= render "shared/notifications" %>
    

  <main class="flex-grow-1 d-flex flex-column">
      <% if @attendee %>
        <!-- start of navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= link_to root_path, class: 'navbar-brand' do  %>
            <%= image_tag 'TheCompany-Wordmark.png', style: 'max-height: 50px;' %>
          <% end %>

          <div class="d-flex">
            <!-- Cart Icon in Navbar Toggler (Visible in Mobile) -->
            <%= link_to cart_path, class: "nav-link position-relative d-lg-none", data: { turbo: false } do %>
              <%= icon 'cart' %>
              <% if @cart_item_count.to_i > 0 %>
                <span class="position-absolute top-10 start-90 translate-middle badge rounded-pill bg-danger" id="cart-count-mobile">
                  <%= @cart_item_count || 0 %>
                </span>
              <% end %>
            <% end %>
            <button class="navbar-toggler position-relative me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
          </div>

          <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <%= link_to root_path, class: "nav-link" do %>
                  <% icon 'home' %> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to shop_path, class: "nav-link" do %>
                  <% icon 'cart' %> Shop
                <% end %>
              </li>
              <li class="nav-item" id="company-nav-link">
                <%= link_to company_path, class: "nav-link" do %>
                  <% icon 'pyramid' %> The Company 
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to vouchers_path, class: "nav-link" do %>
                  <% icon 'wallet' %> Redeem Voucher
                <% end %>
              </li>
              <li class="nav-item" id="show-program-nav-link">
                <%= link_to "#", class: "nav-link" do %>
                  <% icon 'book' %> Show Program
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to faqs_path, class: "nav-link" do %>
                  <% icon 'book' %> FAQs
                <% end %>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <%= link_to cart_path, class: "nav-link position-relative d-none d-lg-block", data: { turbo: false } do %>
                  <%= icon 'cart' %>
                  <% if @show_cart_count.to_i > 0 %>
                    <span class="position-absolute top-10 start-90 translate-middle badge rounded-pill bg-danger" id="cart-count-mobile">
                      <%= @show_cart_count || 0 %>
                    </span>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <!-- end of navbar -->

        <%= turbo_stream_from 'chud_checkpoint_alert' %>
        <div id="chud_checkpoint_alert">
            <% if @chud_checkpoint_time %>
              <%= render 'shared/chuds_checkpoint', checkpoint_time: @chud_checkpoint_time %>
            <% end %>
        </div>

      <% else %>
        <div class="d-flex justify-content-center mt-5 mb-5">
          <main class="w-50 text-center">
            <%= image_tag 'TheCompany-FullLogo.png', class: 'img-fluid w-50' %>
          </div>
        </div>
      <% end %>


      <div class="d-flex justify-content-center">
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show xs-col-12 col-md-6" role="alert">
            <%= value %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>

      <div>
        <%= yield %> 
      </div>


      <!-- 🚀 Logged In Modal -->
        <% if params[:new_login] %>
        <div class="modal fade" id="loggedInModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center bg-success text-white position-relative">
                        <!-- Close button positioned at the top-right -->
                        <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
                        
                        <h3>You're ready for the show!</h3>
                        <%= icon 'check-square', class: 'icon-text-white', width: 150, height: 150 %>
                    </div>
                </div>
            </div>
        </div>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            var loggedInModal = new bootstrap.Modal(document.getElementById("loggedInModal"));
            loggedInModal.show();
          });
        </script>
      <% end %>



    </main>
       <!-- footer --> 
      <footer class="footer mt-auto py-3 bg-light mt-10">
        <div class="container text-center">
          <span class="text-muted">
            <%= link_to "Terms of Service", terms_path, target: :_blank %>
             |  <%= link_to "Log Out", sign_out_path, data: { turbo: false} %>
          </span><br>
          <span class="text-muted">The Company™ Portal Presented By The Tin Can Brothers</span><br>
          <span class="text-muted">© 2014-<%= Time.now.strftime("%Y")%> The Tin Can Brothers</span><br>

          <span class="text-muted">Show Code: <%= session[:show_code] %></span>
        </div>
      </footer>
  </body>
</html>
