<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CHUDs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.ico" type="image/png">
    <link rel="apple-touch-icon" href="/icon.ico">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'bootstrap', 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>
  <div class="alert alert-info text-center m-0 fixed-top" role="alert">
    📢 <%= link_to "Special Announcement: It's time to spend your chuds!", 
                    "#" %> 🎉
</div>

  <body class="container text-center">
    <div class="p-5 bg-body-tertiary rounded-3">
      <div class="py-5">
        <h2 class="fw-bold">Tin Can Bros Presents</h2>
        <h1 class="display-2 fw-bold">Gross Prophets</h1>
        <%= link_to "Program", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

    <%= yield %> 

    <div>
    <p>
        <%= link_to "Shop", shop_path, class: "btn btn-secondary w-100" %>
    </p>
    <p>
    <%= link_to "About the Product", "#" , class: "btn btn-secondary w-100"%>
    </p>
    <p>
    <%= link_to "About the Company", "#", class: "btn btn-secondary w-100" %>
    </p>
    <p>
    <%= link_to "Sign out", sign_out_path, class: "btn btn-secondary w-100" %>
    </p>
    </div>



<!-- 🚀 Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Enter Your Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <%= render 'attendees/form' %>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>
