<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CHUDs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.ico" type="image/png">
    <link rel="apple-touch-icon" href="/icon.ico">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
  </head>

  <body class="text-center">
    <div class="container">
      <p>Tin Can Bros Presents</p>
      <h1><%= link_to "Gross prophets", root_path %></h1>
      <%= link_to "Program", "#" %>
    </div>
    <%= yield %> 
  </body>
</html>
