<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Company™ Portal Presented By The Tin Can Brothers" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'bootstrap', 'application',  "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <%= render 'shared/analytics_code' %>

  <body>

    <%= turbo_stream_from 'notifications' %>
    <%= render "shared/notifications" %>

    <div class="container-fluid" style="padding: 0;">
    <% if @attendee %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= link_to root_path,  class: 'navbar-brand' do  %>
            <%= image_tag 'TheCompany-Wordmark.png', style: 'max-height: 50px;' %>
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <%= link_to "Shop", shop_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "The Product", product_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "The Company", company_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Show Program", "#", class: "nav-link" %>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <%= link_to "Sign Out", sign_out_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <%= turbo_stream_from 'chud_checkpoint_alert' %>
      <div id="chud_checkpoint_alert">
          <% if @chud_checkpoint_time %>
            <%= render 'shared/chuds_checkpoint', checkpoint_time: @chud_checkpoint_time %>
          <% end %>
      </div>

    <% else %>
      <div class="d-flex justify-content-center">
        <div class="w-50 text-center">
          <%= image_tag 'TheCo.png', class: 'img-fluid w-50' %>
        </div>
      </div>
    <% end %>


    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

    <div class="text-center">
      <%= yield %> 
    </div>


    <!-- 🚀 Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Enter Your Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <%= render 'attendees/form' %>
                </div>
            </div>
        </div>
    </div>

      <footer class="footer mt-auto py-3 bg-light mt-10">
        <div class="container text-center">
          <span class="text-muted">The Company™ Portal Presented By The Tin Can Brothers</span><br>
          <span class="text-muted">© 2014-<%= Time.now.strftime("%Y")%> The Tin Can Brothers</span><br>
          <span class="text-muted">Show Code: <%= session[:show_code] %></span>
        </div>
      </footer>
      </div>
  </body>
</html>
