<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Company™ Portal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>


    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'bootstrap', 'application', media: 'all' %>
    <%= stylesheet_link_tag custom_styles_path + "?v=#{Setting.find_by(name: 'custom_css')&.updated_at.to_i}" %>
    <%= javascript_importmap_tags %>
    <style>
      <%= raw Setting.find_by(code: 'custom_css').try(:value) %>
    </style>
  </head>
  <%= render 'shared/analytics_code' %>
  
  <body  id="<%= request.path == "/" ? 'welcome-index' : request.path.delete_prefix("/").gsub("/", "-")%>">
    <%= yield %> 
  </body>
</html>
