<!-- filepath: /Users/ricky/RailsApp/tcb-gross-prophets/app/views/admin/vouchers/show.html.erb -->
<h1>Voucher Details</h1>

<p>
  <strong>Code:</strong>
  <%= @voucher.code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @voucher.amount %>
</p>


<strong>Redemptions:</strong>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Used By Name</th>
    <th>Used By Email</th>
    <th>Used At</th>
  </tr>
  </thead>
  <tbody>
    <% @voucher.attendee_vouchers.each do |av| %>
      <tr>
        <td><%= av.attendee.name %> /td>
        <td><%= av.attendee.email %></td>
        <td><%= av.redeemed_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_admin_voucher_path(@voucher), class: 'btn btn-primary' %>
<%= link_to 'Back', admin_vouchers_path, class: 'btn btn-secondary' %>